$warrior: #C69B6D;
$paladin: #F48CBA;
$hunter: #AAD372;
$rogue: #FFF468;
$priest: #F0EBE0;
$death_knight: #C41E3B;
$shaman: #2359FF;
$mage: #68CCEF;
$warlock: #9382C9;
$monk: #00FFBA;
$druid: #FF7C0A;
$demon_hunter: #A330C9;

.DeathKnight {
    color: $death_knight;
}

.DemonHunter {
    color: $demon_hunter;
}

.Druid {
    color: $druid;
}

.Hunter {
    color: $hunter;
}

.Mage {
    color: $mage;
}

.Monk {
    color: $monk;
}

.Paladin {
    color: $paladin;
}

.Priest {
    color: $priest;
}

.Rogue {
    color: $rogue;
}

.Shaman {
    color: $shaman;
}

.Warlock {
    color: $warlock;
}

.Warrior {
    color: $warrior;
}